Package: python-uniconvertor
Version: <VERSION>
Architecture: <PLATFORM>
Maintainer: Igor Novikov <igor.e.novikov@gmail.com>
Depends: libc6, python (>=2.4), python (<<3.0), python-sk1libs
Section: python
Priority: extra
Description: Universal vector graphics translator
 .
 UniConvertor is a multiplatform universal vector graphics translator.
 It uses sK1 engine to convert one format to another.
 sK1 Team (http://sk1project.org), Copyright (C) 2007-2010 by Igor E. Novikov
 -----------------------------------
 Import filters: 
    * CorelDRAW ver.7-X3,X4 (CDR/CDT/CCX/CDRX/CMX)
    * Adobe Illustrator up to 9 ver. (AI postscript based)
    * Postscript (PS)
    * Encapsulated Postscript (EPS)
    * Computer Graphics Metafile (CGM)
    * Windows Metafile (WMF)
    * XFIG
    * Scalable Vector Graphics (SVG)
    * Skencil/Sketch/sK1 (SK and SK1)
    * Acorn Draw (AFF)
    * HPGL for cutting plotter files (PLT)
    * Autocad Drawing Exchange Format (DXF)
    * Design format (Tajima) (DST)
    * Embroidery file format (Brother) (PES)
    * Embroidery file format (Melco) (EXP)
    * Design format (Pfaff home) (PCS)
 -----------------------------------
 Export filters: 
    * AI - Postscript based Adobe Illustrator 5.0 format
    * SVG - Scalable Vector Graphics
    * SK - Sketch/Skencil format
    * SK1 - sK1 format
    * CGM - Computer Graphics Metafile
    * WMF - Windows Metafile
    * PDF - Portable Document Format
    * PS  - PostScript
    * PLT - HPGL for cutting plotter files
 .

