include MANIFEST.in
include README setup.cfg
include setup_win32.py
include src/GNU_GPL_v2 src/GNU_LGPL_v2 src/COPYRIGHTS
include src/uniconv
include src/uniconv.cmd
include src/modules/filter/README
include src/app/modules/descr.txt
include src/app/VERSION
recursive-include src/share *.*
recursive-include src/share/icc *.*
recursive-include src/share/fonts *.*
recursive-include src/share/ps_templates *.*
recursive-include src/share/ps_templates *.*
recursive-include src/modules/filter *.h
recursive-include src/modules/skmod *.h
recursive-include src/modules/skread *.h
recursive-include src/modules/pstokenize *.h
recursive-include src/modules/type1mod *.h
recursive-include src/app/plugins/Filters *.py




