@import "tags.css";

#body_shadow {
	background: transparent url(images/body-bg.png) repeat-y center scroll;
	margin: -1px 0 0 0;
	padding: 0px;
}

#page {
	background-color: #fff;
	margin:1px auto 0 auto;
	width:800px;
	height: 100%;
}

#site-header {
	background: transparent url(images/header_bg_gr.png) no-repeat scroll;
	width:800px;
	height: 91px;	
}

#site-header-normal {
	background: #292621;
	width:800px;
	height: 91px;	
}

#header_title {
	float:left;
	width:644px;
}

#header_title h1{
	font-family:Trebuchet Ms,sans-serif; 
	font-size:30px; 
	font-size-adjust:none; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:bold; 
	line-height:normal;
	margin-top: 5px;
	margin-left: 5px;
}

#header_title a{
	color: #fff;
}

#header_title a:hover {
	text-decoration : none;
	border-bottom: 1px dotted #E8E8E8;
}


#header_menu {
	float:left;
	width:70px;
	margin-top:58px;
	margin-left:15px;
/* 	margin-left:655px; */
}

#main-bg {
	color : #000;
/* 	float: left; */
	background-color : #fff;
	margin-right: 50px;
	margin-left: 150px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
}

#footer {
	background:transparent url(images/footer_bg.png) no-repeat scroll 0;
	height:102px;
	width:100%;
	margin-top: 10px;
	color: #fff;
}

#footer-left {
	background:transparent;
	margin-top: 40px;
	margin-left: 10px;
	float:left;
	color: #fff;
}

#footer-right {
	background:transparent;
	text-align: right;
	margin-top: 35px;
	margin-right: 5px;
	float:right;
	color: #fff;
}
#footer-right a{
	color: #FFCC00;
}

.clear {clear: both;}




