a {
	color: #9E0B0E;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}

a.side {
	text-decoration : none;
}

a:hover.side {
	text-decoration : underline;
}

a.white {
	color : #ccc;
	text-decoration : none;
}

a:hover.white {
	color : #ccc;
	text-decoration : underline;
}

body {
	background:#212121 url(images/bg.png) repeat-x scroll top;
/* 	background:#0F0E0C repeat-x scroll 0; */
	color:#4C4C4C;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	margin:0;
	padding:0;
}

form {
	margin : 0px;
}

hr {
	height : 2px;
	border-bottom : 1px solid #fff;
	border-top : 1px solid #c6c7c9;
}

hr.side-hr {
	height : 2px;
	border-bottom : 1px solid #d4dcdf;
	border-top : 1px solid #b4bcbf;
}

td {
	font-family : "trebuchet ms", Verdana, Tahoma, Arial, Sans-Serif;
	font-size : 11px;
}

pre {
	font-family: 'Courier New', monospace;
	font-size: 12px;
	padding:10px 0 10px 10px;
	background-color:#EEFFCC;
	border-bottom:1px solid #AACC99;
	border-top:1px solid #AACC99;
}

ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-left:10px;
}

li {
	background:transparent url(images/li_br.gif) no-repeat scroll left center;
	padding-left: 14px;
}

code {
	font-family: Courier New, fixed;
	background-color: #F9F9FC;
	border: 1px solid #D4DDE9;
	padding: 5px;
	margin-left: 20px;
}

a:hover img {
	text-decoration: none;
}

h1 {
	color:#F8C300;
	font-size: 25px;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	margin: 0 10px 10px -120px;
}

h3 {
	color:#3895BD;
	font-size: 22px;
	font-family: Verdana,sans-serif;
	font-weight: normal;
	margin:0px;
}

sup {font-size: 8px;}