[Desktop Entry]
Version=1.0
Name=UniConvertor vector graphics translator
Name[ru]=Конвертер векторной графики UniConvertor
Name[uk]=Конвертер векторної графіки UniConvertor
Name[en_GB]=UniConvertor vector graphics translator
Name[en_US@piglatin]=UniConvertor vector graphics translator
GenericName=Vector Graphics Translator
GenericName[ru]=Конвертер векторной графики
GenericName[uk]=Конвертер векторної графіки
GenericName[en_GB]=Vector Graphics Translator
GenericName[en_US@piglatin]=Vector Graphics Translator
X-GNOME-FullName=UniConvertor vector graphics translator
X-GNOME-FullName[ru]=Конвертер векторной графики UniConvertor
X-GNOME-FullName[uk]=Конвертер векторної графіки UniConvertor
X-GNOME-FullName[en_GB]=UniConvertor vector graphics translator
X-GNOME-FullName[en_US@piglatin]=UniConvertor vector graphics translator
Comment=Translate vector graphics formats
Comment[ru]=Конвертер файлов векторной графики
Comment[uk]=Конвертер файлов векторної графіки
Comment[en_GB]=Translate vector graphics formats
Comment[en_US@piglatin]=Translate vector graphics formats
Type=Application
Categories=Graphics
MimeType=image/x-xfig;image/x-wmf;image/x-skencil;image/x-eps;image/vnd.dxf;image/svg+xml;image/cgm;application/x-wine-extension-CMX;application/x-wine-extension-CDT;application/vnd.hp-hpgl;application/vnd.corel-draw;application/postscript;
Exec=uniconvw %f
TryExec=uniconvw
Terminal=false
StartupNotify=true
Icon=uniconvw
