include MANIFEST.in
include README setup.cfg

include DEBIAN/control

include setup_win32.py
include src/GNU_GPL_v2 src/GNU_LGPL_v2 src/COPYRIGHTS
include src/uniconvertor
include src/uniconvertor.cmd
include src/modules/filter/README
include src/app/modules/descr.txt
include src/app/VERSION
recursive-include src/share *.*
recursive-include src/share/fonts *.*
recursive-include src/share/ps_templates *.*
recursive-include src/share/ps_templates *.*
recursive-include src/modules/filter *.*
recursive-include src/modules/skmod *.*
recursive-include src/modules/skread *.*
recursive-include src/modules/pstokenize *.*
recursive-include src/modules/type1mod *.*
recursive-include src/app/plugins/Filters *.py




